%header
	%nav.has-img
		%a{:href=>"#"}
			%img{:src=>"http://placehold.it/60x60"}
		%ul.horizontal-align
			%li
				%a{:href=>"#"} Link
			%li
				%a{:href=>"#"} Another link
		#hamburger
			%div
%main
	#intro
		%h1.big
			Live,
			%br
			And the world is yours.
	%section
		%h1
		%ul.horizontal-align
			%li
				%i.fa.fa-code
				%h3 Just code.
				%p Like to code awesome things.
			%li
				%i.fa.fa-users
				%h3 Follow me.
				%p
					And I'll follow you back.
			%li
				%i.fa.fa-heart
				%h3 Love this pen.
				%p By just clicking a button
	%section
		%h1 Hello
		%p
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed nulla suscipit, porta urna id, elementum nunc. Aliquam erat volutpat. Vestibulum vulputate, libero vel lobortis tempus, elit ipsum elementum tortor, at volutpat ex nisl sit amet justo. Aenean egestas diam at velit posuere gravida. Suspendisse posuere dolor dolor, non condimentum.
#menu
	%nav
		%ul
			%li
				%a{:href=>"/jappe", :target=>"_blank"} My profile
			%li
				%a{:href=>"http://webdrawings.nl", :target=>"_blank"} My website
%footer
	%nav
		%ul.horizontal-align
			%li
				%a{:href=>"/jappe", :target=>"_blank"} My profile
			%li
				%a{:href=>"http://webdrawings.nl", :target=>"_blank"} My website